/**
========
General
========
**/
body {
    background: #eee none repeat scroll 0 0;
    font-family: "Open Sans",sans-serif;
    margin-top: 65px;
}
* {
    -webkit-overflow-scrolling: touch;
}
input {
    outline: none;
}
.ng-enter {
    transition: all ease 0.5s;
    opacity:0;
}
.ng-enter.ng-enter-active {
    opacity: 1;
}
.ng-leave {
    transition: all ease 0.5s;
    opacity:1;
}
.ng-leave.ng-leave-active {
    opacity:0;
}
* {
    transition: all ease 0.5s;
    opacity: 1;
}
*.ng-hide {
    opacity: 0;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
#contain {
    padding-left: 220px;
    width: 100%;
}

/**
========
Splash
========
**/
#newUser {
    background: #e9e9e9 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100;
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    opacity: 1;
    overflow: scroll;
}
#newUser.ng-hide {
    opacity: 0;
}
#newUser .logo {
    transform: translateY(0) scale(1) rotate(0deg);
    -webkit-transform: translateY(0) scale(1) rotate(0deg);
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
    opacity: 1;
}
#newUser.ng-hide .logo {
    opacity: 0;
    transform: translateY(-200px) scale(3) rotate(180deg);
    -webkit-transform: translateY(-200px) scale(3) rotate(180deg);
}
#newUser .logo {
    margin-bottom: 20px;
}
#newUserFormWrap {
    margin: 50px auto 0;
    width: 500px;
}
#newUserFormWrap input {
    border: medium none;
    border-radius: 20px;
    color: #444;
    font-size: 25px;
    padding: 23px;
    width: 100%;
}
#newUserFormWrap input[type='submit'] {
    color: #48bee5;
    font-size: 73px;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    background: transparent;
}
#nameError {
    position: absolute;
    top: -70px;
    width: 100%;
}
#newUser .logo .fa {
    font-size: 150px;
    color: #48bee5;
}
#chooseIcons h2 {
    color: #48bee5;
    font-size: 40px;
    font-weight: 900;
}
#chooseIcons .fa {
    border-radius: 10px;
    font-size: 60px;
    padding: 10px;
    cursor: pointer;
}
#chooseIcons > div {
    margin: 15px auto;
    width: 235px;
}
#chooseIcons .fa:hover, #chooseIcons .fa.active {
    background: #ddd none repeat scroll 0 0;
}

/**
========
Nav
========
**/
nav {
    background: #48bee5 none repeat scroll 0 0;
}
nav h1 {
    color: #fff;
    font-weight: 800;
    margin: 12px 0;
}
.currentUserText {
    color: #48bee5;
}
#mobileNav .fa {
    font-size: 40px;
    color: #fff;
    margin: 12px 10px 0 0;
    cursor: pointer;
}


/**
========
Chat Window
========
**/
#chatSendMessage {
    background: #cdcdcd none repeat scroll 0 0;
    bottom: 0;
    height: 110px;
    padding: 20px 0;
    position: fixed;
    width: calc(100% - 250px);
    left: 0;
    margin-left: 235px;
}
.chatWindow {
    background: #fff none repeat scroll 0 0;
    height: calc(100% - 250px);
    overflow-y: scroll;
    padding: 20px;
    position: fixed;
    width: calc(100% - 250px);
    left: 0;
    margin-left: 235px;
}
#chatSendMessage button, #chatSendMessage button:hover {
    background: #48bee5 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 34px;
    font-weight: bolder;
    padding: 12px 40px;
    width: 100%;
}
#messageType:focus, #messageType {
    border: medium none;
    box-shadow: none;
    outline: medium none;
    resize: none;
}
.chatWindow div {
    font-size: 25px;
}

/**
========
Sidebar
========
**/
#sideBar {
    background: #333 none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    top: 60px;
    width: 220px;
    z-index: 1;
}
#sideBar ul li {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
}
#sideBar ul {
    list-style: outside none none;
    padding: 0;
}
#sideBar h2 {
    color: #fff;
    padding: 20px;
    font-weight: 900;
    font-size: 25px;
    cursor: pointer;
}
#sideBar h2.active, #sideBar ul li.active {
    background: #444;
}
#sideBar h3 {
    color: #fff;
    padding: 0 20px;
    font-size: 22px;
}
.unRead {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: #333;
    font-size: 10px;
    height: 30px;
    padding: 8px 0;
    position: absolute;
    right: 20px;
    text-align: center;
    width: 30px;
}
.unRead.changed {
    -webkit-animation: bounce 1000ms linear both;
    animation: bounce 1000ms linear both;
}

/**
========
Animations
========
**/
@keyframes bounce {
    0% {
        transform: translateY(-100%);
    }
    5% {
        transform: translateY(-100%);
    }
    15% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(-50%);
    }
    40% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-30%);
    }
    70% {
        transform: translateY(0%);
    }
    80% {
        transform: translateY(-15%);
    }
    90% {
        transform: translateY(0%);
    }
    95% {
        transform: translateY(-10%);
    }
    97% {
        transform: translateY(0%);
    }
    99% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-100%);
    }
    5% {
        -webkit-transform: translateY(-100%);
    }
    15% {
        -webkit-transform: translateY(0px);
    }
    30% {
        -webkit-transform: translateY(-50%);
    }
    40% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(-30%);
    }
    70% {
        -webkit-transform: translateY(0%);
    }
    80% {
        -webkit-transform: translateY(-15%);
    }
    90% {
        -webkit-transform: translateY(0%);
    }
    95% {
        -webkit-transform: translateY(-10%);
    }
    97% {
        -webkit-transform: translateY(0%);
    }
    99% {
        -webkit-transform: translateY(-5%);
    }
    100% {
        -webkit-transform: translateY(0px);
    }
}

/**
========
Media Queries
========
**/
@media(max-width: 640px) {
    #sideBar {
        left: -220px;
        overflow: hidden;
    }
    #sideBar.show {
        left: 0;
    }
    #contain {
        padding-left: 0;
    }
    #newUserFormWrap {
        margin: 20px;
        width: auto;
    }
    #chatSendMessage {
        bottom: 0;
        position: fixed;
        margin-left: 0;
        width: 100%;
        left: 0;
    }
    .chatWindow {
        height: calc(100% - 255px);
        position: fixed;
        margin-left: 15px;
        width: calc(100% - 30px);
    }
}
