<div ng-controller="whiteboardController">
    <div id="overlay" ng-show="whiteboard.request || whiteboard.active || whiteboard.awaitingResponse">
        <div id="response" ng-if="whiteboard.awaitingResponse">
            <h2>Awaiting Response...</h2>
            <div class="remaining">
                {{whiteboard.remaining}}
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" ng-show="whiteboard.request">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <h4 class="modal-title pull-left">Whiteboard Request</h4>
                    <div class="pull-right">
                        {{whiteboard.remaining}}
                    </div>
                </div>
                <div class="modal-body">
                    <p>{{whiteboard.user}} has requested to start a whiteboard session with you.</p>
                    <p>Would you like to accept?</p>
                    <button class="btn btn-default green" ng-click="startWhiteboardSession()">Yes</button>
                    <button class="btn btn-default red">No</button>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" ng-show="whiteboard.active" id="whiteboardActive">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Draw below</h4>
                    <button class="btn btn-default pull-right" ng-click="closeWhiteboard()">Close Session</button>
                </div>
                <div class="modal-body">
                    <canvas id="c"></canvas>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
